.site-footer {

	position: relative;
    overflow: hidden;

	// &:before {
	// 	content: '';
	// 	width: 755px;
	// 	height: 755px;
	// 	border: 130px solid $thm_primary_color;
	// 	position: absolute;
	// 	top: -40%;
	// 	left: 75%;
	// 	border-radius: 50%;
	// 	transform-origin: center bottom;
	// 	animation-fill-mode: both;
    //     animation-name: bounce;
    //     animation-timing-function: ease-out;
    //     animation-duration: 5s;
    //     animation-iteration-count: infinite;
	// }

	@keyframes CircleBounce {

	}
	.container {
		position: relative;
	}
	&__upper {
		padding-top: 120px;
		padding-bottom: 110px;
	}

	
    &__lower {
    	.inner-container {
    		display: flex;
    		align-items: center;
    		justify-content: space-between;
    		border-top: 1px solid #eff0f7;
    		padding: 44.5px 0;
    	}
    }
    
}
